/* WeatherApp.css */
/* .weather-container {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  margin-top: 20px;
  background-color: #f9f9f9;
}

.weather-container h2 {
  margin-top: 0;
}

.weather-container p {
  margin: 10px 0;
} */
.cursor {
  display: inline-block;
  width: 0.2em;
  height: 1em;
  background-color: black;
  animation: blink 1s infinite;
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.header p span {
  font-weight: bold;
  font-size: 1.2em; /* Adjust the font size as needed */
}
.rotating-sun {
  animation: rotate 20s linear infinite; /* Adjust values as needed */
  width: 100px; /* Adjust width and height for your image */
  height: 100px;
  top: 22%;
  left: 25%;
  position: absolute;
  transform: translate(-50%, -50%);
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.cloud-cover {
  position: absolute; /* Overlap other elements */
  top: 22%;
  left: 22%; /* Align to the left */
  width: 30%; /* Cover the entire width */
  height: 30%; /* Cover the entire height (adjust if needed) */
  background-image: url("./images/cloud.svg");
  background-size: 150px 150px; /* Replace with your cloud image path */
  background-repeat: no-repeat; /* Prevent tiling */
}

.mostly-cloudy {
  position: absolute; /* Overlap other elements */
  top: 22%;
  left: 22%; /* Align to the left */
  width: 12%; /* Cover the entire width */
  height: %; /* Cover the entire height (adjust if needed) */
}
