/* WeatherApp.css */
/* .weather-container {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  margin-top: 20px;
  background-color: #f9f9f9;
}

.weather-container h2 {
  margin-top: 0;
}

.weather-container p {
  margin: 10px 0;
} */
.cursor {
  display: inline-block;
  width: 0.2em;
  height: 1em;
  background-color: black;
  animation: blink 1s infinite;
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.header p span {
  font-weight: bold;
  font-size: 1.2em; /* Adjust the font size as needed */
}
.rotating-sun {
  animation: rotate 20s linear infinite; /* Adjust values as needed */
  width: 100px; /* Adjust width and height for your image */
  height: 100px;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
