/* WeatherApp.css */
.weather-container {
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 90%;
  height: 500px;
  margin-left: 5%;
}

.cursor {
  display: inline-block;
  width: 0.2em;
  height: 1em;
  background-color: rgb(13, 12, 12);
  animation: blink 1s infinite;
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.header p span {
  font-weight: bold;
  font-size: 1.2em; /* Adjust the font size as needed */
}
.rotating-sun {
  animation: rotate 20s linear infinite; /* Adjust values as needed */
  width: 100px; /* Adjust width and height for your image */
  height: 100px;
  top: 22%;
  left: 25%;
  position: absolute;
  transform: translate(-50%, -50%);
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.cloud-cover {
  position: absolute; /* Overlap other elements */
  top: 22%;
  left: 22%; /* Align to the left */
  width: 30%; /* Cover the entire width */
  height: 30%; /* Cover the entire height (adjust if needed) */
  background-image: url("./images/cloud.svg");
  background-size: 150px 150px; /* Replace with your cloud image path */
  background-repeat: no-repeat; /* Prevent tiling */
}

.mostly-cloudy {
  position: absolute; /* Overlap other elements */
  top: 22%;
  left: 22%; /* Align to the left */
  width: 12%; /* Cover the entire width */
  height: 15%; /* Cover the entire height (adjust if needed) */
}
.temperature-display {
  position: relative;
}
.temperature-display .mainTemperature {
  font-size: 50px;
  margin-top: 4%;
  margin-bottom: 0;
}
.temperature-display .hourlyTemperature {
  font-size: 20px;
  color: rgb(180, 178, 178);
  margin-top: 0;
}
.detailWeather {
  position: absolute;
  top: 22%;
  right: 20%;
}

.weatherItem {
  display: flex;
  align-items: center;
  margin-bottom: 5px; /* Adjust margin between items */
}

.weatherItem img {
  margin-right: 10px; /* Adjust margin between image and text */
}

.weather-forecast-container {
  display: flex;
  flex-wrap: wrap;

  margin-top: 5%;
}

.weather-forecast-item {
  flex: 1;

  text-align: center;
}

.weather-forecast-item .weather-text {
  margin-right: 35%;
  font-weight: bold;
  color: gray;
}
.weather-forecast-item .weather-textTemp {
  margin-top: 22%;
  margin-right: 35%;
  color: gray;
}

.weather-forecast-item .weather-image-container {
  position: relative; /* Ensure proper positioning */
}

.weather-forecast-item .weather-image-container img {
  width: 50px; /* Adjust the size as needed */
  height: 50px; /* Adjust the size as needed */
}

/* Responsive styles */
@media screen and (max-width: 768px) {
  .weather-forecast-item {
    flex: 1 1 45%; /* Adjust item width for smaller screens */
    margin: 5px; /* Reduce margin for smaller screens */
  }
}

@media screen and (max-width: 576px) {
  .weather-forecast-item {
    flex: 1 1 100%; /* Adjust item width for even smaller screens */
  }

  .weather-forecast-item .weather-text {
    margin-top: 5px; /* Adjust margin top for smaller screens */
  }
}
